extends /modules/pug/blocks/ejercicios
block pug_javascript
    -
        let titulo = "Ejemplo 2",
            formato = ""
        let codepen_list = [
            "vYEPxPX",
            "BaybRKr",
        ]
        nej = 2 // <== EXERCISE NUMBER - REPLACE IT
block pug_styles
    +new_style(`../styles.css`)
block html_javascript
    +new_script(`../scripts.js`)
block pug_contenido
    :markdown-it(html)
            ## Este es un título.
            ## Este es un título.
            ![Ejemplo](/static/e1-1.png)
            ![Ejemplo](/static/i1.png)
            ![Ejemplo](/static/i2.png)
            ![Ejemplo](/static/i3-full.png)
    +codepen(1)
    +img_e("i2.png")
    hr
    +img_path("/static/im1.jpg")
    +img_path("/static/i2.png")
//-
    p=String.raw`$$ x^5 $$`
    each url in codepen_list
        +codepen_url(url,`${codepen_list.indexOf(url)+1}`,height_window=600)

